{% extends "::base.html.twig" %}


{% block content_title %}

    {{ category.title }}

{% endblock %}

{% block content %}
	{% for element in entities %}
        <article>
              <header>
                <a href="{{ path('link_offer', { 'id': element.id }) }}">{{element.title}}</a>
              </header>
            
              <section id="category">
                Kategoria: {{element.category.title}}
              </section>
              
              <section id="introduction">
                {{element.description}}
              </section>
              
              <footer>
                <a href="{{ path('link_offer', { 'id': element.id }) }}">Więcej...</a>
              </footer>
        </article>
	{% endfor %}
{% endblock %}